<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Handle X-XSRF-Token Header
    RewriteCond %{HTTP:x-xsrf-token} .
    RewriteRule .* - [E=HTTP_X_XSRF_TOKEN:%{HTTP:X-XSRF-Token}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# Blindagem ANDRADEITALO.ai - Injeção Direta de Ambiente
SetEnv DB_CONNECTION pgsql
SetEnv DB_HOST 127.0.0.1
SetEnv DB_PORT 5432
SetEnv DB_DATABASE ai_dev_core
SetEnv DB_USERNAME ai_dev_core
SetEnv DB_PASSWORD "B1r02012;"
SetEnv ASSET_URL http://10.1.1.86/projetos/ai-dev/ai-dev-core/public
